# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Logs and Debugging
*.log
*.txt
debug.log

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage and reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Documentation build
docs/_build/

# Environment files
.env
.env.*
.venv
